---
layout: 'layouts/details.njk'

title: 'Vortex Lines'
description: ''

finished: true

tags: 
  - project

resources:
  - three.js
  - meshline

inspiration: 
  url: 
  title: 
  author: 
    name: 
    url: 

videos:
  - url: https://www.twitch.tv/videos/1080687543
    date: 
    label: This is my first ever stream, so things take a while to get setup.
  - url: https://www.twitch.tv/videos/1081263902
    date: 
    label: An morning stream to finish up. The stream cut short due to internet issues.
---

<h2>Extra deets go here</h2>